body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

h1 {
    color: rgb(235, 185,47);
}

h4 {
    color: rgb(235, 185,47);
}

.rojo {
    color: red;
    font-size: small;
}

.verde {
    color: green;
}

.boton {
    color: white;
    font-size: 35px;
    background-color: blueviolet;
    border-radius: 12px;
    width: 140px;
    height: 45px;

}