body {
        img {
        image-resolution: 500x500
    }

    p.anotacion {
        font-size: 20pt;
        text-align: justify;
    }

    td p {
        color: blue;
        font-size: 16px;
    }
}