body {
    font-family: Arial;
}

h1 {
    background-color: rgb(176, 206, 233);
    border: 1px solid black;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}

table {
    border: 2px double black;
}

th {
    color: white;
    background-color: black;
}

.ingredientes {
    background-color: pink;
    padding-right: 100px;
}

td {
    border: 2px double black;
}
