body {
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

#header {
  background-image: url("starfield-file.png");
  background-size: cover;
  width: 100%;
  height: 135px;
  color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 20px;
  position: relative;
  font-size: xx-large;
}

#header img {
    width: 40px;
    
}

#content {
    padding: 20px;
}

#content form fieldset.personales {
    font-weight: bold;
}

#content form fieldset legend.excepcion {
    font-weight: lighter;
}