body {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

#header {
  background-image: url("starfield-file.png");
  background-size: cover;
  width: 100%;
  height: 135px;
  color: white;
  display: flex;
  box-sizing: border-box;
  position: relative;
  font-size: xx-large;
}

#header img {
    width: 40px;
    height: 40px;
    padding-bottom: 80px;
    padding-top: 1px;
    padding-left: 15px;
}

#content {
    padding: 20px;
}

#content form fieldset.personales {
    font-weight: bold;
}

.participar {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(53, 86, 114);
    color: white;
    font-size:medium;
}

#content form fieldset legend.excepcion {
    font-weight: lighter;
}