body {
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 5px 20px;
}

#header {
  background-image: url("starfield-file.png");
  background-size: cover;
  width: 100%;
  height: 135px;
  color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 20px;
  position: relative;
  font-size: xx-large;
}

#header img {
    width: 40px;
    
}

#content {

}