body {
    margin-left: 20%;
    margin-right: 20%;
}

#header {
  
}

#content {
    
}


@keyframes glow {
    from {
      font-size: 12px;
    }
    to {
      font-size: 14px;
    }
  }