body {
  margin-left: 20%;
  margin-right: 20%;
}

#header {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 250%;
  padding: 10%;
  text-align: left;
  background-image: url(starfield-file.png);
}

img {
  position: ;
}

#content {
    
}


@keyframes glow {
  from {
    font-size: 12px;
  }
  to {
    font-size: 14px;
  }
}