body {
  margin-left: 20%;
  margin-right: 20%;
}

#header {
  color: white;
  font-size: 100px;
  text-align: left;
  background-image: url(starfield-file.png);
  background-size: 100%;
}

#content {
    
}


@keyframes glow {
  from {
    font-size: 12px;
  }
  to {
    font-size: 14px;
  }
}