body {
  font-family: monospace;
  background-color: #bfbfbf;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#header {
  background-image: url("starfield-file.png");
  background-size: cover;
  width: 944px;
  height: 192px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
}

#header h1 {
  font-size: 36px;
  margin: 0 0 0 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.flecha {
  width: 45px;
  margin-right: 10px;
}

#content {
    background-color: white;
    width: 900px;
    padding: 20px 22px;
    box-shadow: 2px 6px 14px rgba(0, 0, 0, 0.32);
}

.portada {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 10px;
}

.cover {
    width: 140px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.detalles ul, .detalles ol {
    margin: 0;
    padding-left: 20px;
    line-height: 1.5;
    font-size: 14px;
}

h2 {
    font-weight: bold;
    margin-bottom: 0px;
}

.ficha {
    width: 100%;
    border-collapse: collapse;
    margin-top: 6px;
    font-size: 13px;
    table-layout: fixed;
}

.ficha th, .ficha td {
    border: 1px solid #000;
}

.encabezado th {
    background-color: #2f4759;
    color: white;
    text-align: center;
    font-weight: bold;
}

.sorteo {
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
}

.rojo {
    color: red;
    font-weight: 700;
}

.sorteo a {
    color: purple;
    text-decoration: underline;
}
