body {
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 2%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#header {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 250%;
  padding: 10%;
  text-align: left;
  background-image: url(starfield-file.png);
}

table.cartel {
  margin: 5%;
  text-align: left;
}

.nobold {
  font-weight: lighter;
}

ol li {
  font-weight: lighter;
}

ul.jugadores {
  font-weight: lighter;
}

h2 {
  margin-left: 5%;
}

table.ficha {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

img {
  position: ;
}

#content {
    
}

@keyframes glow {
  from {
    font-size: 12px;
  }
  to {
    font-size: 14px;
  }
}