* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* HTML BODY*/
  body {
    /* 1 - Set "background.jpg" as a background image */
    background-image: url(background.jpg);
  }


  /* Registration area box */
  .form-register {
    /* 2 - Set a width of 400px*/
    width: 400px;
    /* 3 - Set the background color to #24303c */
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    /* 4 - Set a rounded border with 4px of size */
    border-radius: 4px;
    /* 5 - Set the font family to Calibri (add the font that visual studio gives you) */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* 6 - Set the font color to "white" */
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  
  /* H4 title "Registration Form" */
  .form-register h4 {    
    /* 7 - Set a font size of 22px */
    font-size: 22px;
    margin-bottom: 20px;
  }
    
  
  /* Every INPUTS in your form (text and password) */
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    /* 8 - Set a rounded border with 4px of size */    
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
  }
  
  /* Every paragraph in your form */
  .form-register p {    
    /* 9 - Set height of 40px */
    height: 40px;
    /* 10 - Align this text to the center */
    text-align: center;    
    font-size: 16px;
    line-height: 40px;
  }
  
  .form-register a {
    color: grey;
    text-decoration: none;
  }
    

  /* When we do mouse over the LINK */
  .form-register a:hover {
    color: white;    
    /* 11 - Underline this text */
    text-decoration: underline;
  }
  
  .form-register .buttons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  