body {
    font-family: Arial;
    margin-right: 20%;
    margin-left: 20%;
}

#header {
    text-align: justify;
    color: white;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    background-image: url(header_background.jpg);
}

p {
    font-size: 15px;
}

#content {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    
}

h1 {
    padding-top: 5px;
    font-size: large;
}

span.underline {
    text-decoration: underline;
    color: purple;
}

span.underline2{
    text-decoration: underline;
}